@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap");
* {
  margin: 0;
  padding: 0; }

header {
  height: 250px;
  width: 100%;
  background-color: white;
  margin-bottom: 20px; }

h1 {
  color: white;
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
  text-transform: uppercase; }

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px; }

h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px; }

.miTitulo {
  color: white; }

li {
  color: black;
  display: inline-block;
  width: 16%;
  position: relative;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px; }

body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: 'Libre Franklin', sans-serif;
  flex-direction: column; }

a {
  text-decoration: none;
  color: white;
  display: inline; }

footer {
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px; }

article, aside, footer {
  flex: 1;
  padding: 1rem;
  margin: 1rem; }

article, aside {
  background-color: white;
  color: black;
  text-transform: uppercase;
  flex-wrap: wrap; }

#main {
  display: flex;
  flex: 1;
  margin-top: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; }

iframe {
  background-size: cover; }

@media (max-width: 600px) {
  nav ul {
    display: none; }
  .padre1 {
    grid-template-columns: 1fr; }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center; } }

@media only screen and (min-width: 1024px) {
  .padre1 {
    grid-template-columns: repeat(3, 1fr); } }

@media only screen and (min-width: 768px) {
  .padre1 {
    grid-template-columns: repeat(3, 1fr); } }

main .main__section {
  padding: 1rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr; }

.nosotrospage h1 {
  color: whitesmoke; }

* {
  margin: 0;
  padding: 0; }

section {
  margin: 20px;
  display: inline-block; }

h1 {
  font-size: 60px;
  text-align: center; }

.productos {
  display: grid;
  place-items: center;
  height: 100vh;
  justify-content: center; }

.padre1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem; }

.carta {
  background-color: grey;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  text-align: center; }

.carta h4 {
  margin-bottom: 16px;
  font-size: 20px; }

.fotos {
  height: 250px;
  width: auto; }

.carta p {
  margin-bottom: 6px; }

.carta img {
  margin-top: 15px;
  border-radius: 50%; }

@media (max-width: 600px) {
  nav ul {
    display: none; }
  .padre1 {
    grid-template-columns: 1fr; }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center; } }

@media only screen and (min-width: 1024px) {
  .padre1 {
    grid-template-columns: repeat(3, 1fr); } }

@media only screen and (min-width: 768px) {
  .padre1 {
    grid-template-columns: repeat(3, 1fr); } }

article, aside, footer {
  flex: 1;
  padding: 1rem;
  margin: 1rem; }

article, aside {
  background-color: white;
  color: black;
  text-transform: uppercase; }

.main2 {
  display: flex;
  flex: 1;
  margin-top: 10px;
  align-content: flex-end;
  background-image: linear-gradient(to left, white, grey); }

.feature {
  color: white; }
  .feature__name {
    color: white; }
  .feature img {
    width: 250px; }

.navegacion__item--activo a {
  border-bottom: 1px solid white; }

.navegacion__item a {
  text-align: center;
  color: white;
  text-decoration: none;
  display: inline;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  transition: 0.4s; }
  .navegacion__item a:hover {
    color: #d2d2d2; }
