@media(max-width: 600px){
	nav ul {
		display: none;
	}
	.padre1{
		grid-template-columns: 1fr
			}
	footer {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}
@media only screen and (min-width: 1024px) {
	.padre1 {
            grid-template-columns: repeat(3, 1fr);
      }
      }
@media only screen and (min-width: 768px) {
	.padre1{
		grid-template-columns: repeat(3, 1fr);
	}
	}