main{
    .main__section{
        padding: 1rem;
        margin: 1rem;
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    
}

.nosotrospage{
    h1 {
        color: whitesmoke;
    }
}